body{
    width: 100%;
    height: 240px;
    background-color: pink;
    background-image: url(http://image.dongascience.com/Photo/2019/09/d2468576cecf1313437de5a883bfa2ed.jpg);
    background-position: 25% 405%;
    background-size: 15%;
    background-repeat: no-repeat;

}