img {
    width : 30px ;
}

#goldcat {
    border-style: solid;
    border-color: gold;
    border-width: 7px;

}

#t{
    width:400px;
    height:300px;
}


#result{
    display: flex;
}

.ball{
    width:100px;
    height:100px;
    border:2px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.win{
    border: 2px solid gold;
}