
 tr, td {
  
    border: 0.2px solid rgba(84, 45, 16, 0.863);
    text-align:  left;

   }
table{
    width: 400px;
    height: 300px;
    margin-left: auto ;
    margin-right: auto; 
    /* table = 위치 /float: right;= 오른쪽 */
   
    }
img {
    width:300px;
    height:250px;
    
    }
#집행검,#서리한{
    color: white;
    background-color: rgb(181, 18, 18);
}
#집행검{
    font-size: 1em;
    color: rgb(250, 250, 1);
    
}
