#box{   
    width: 600px;
    height: 700px;
    background-color: pink;
}
#top{   
    width: 600px;
    height: 100px;
    background-color: red;
}
#mid{   
    width: 600px;
    height: 500px;
    background-color: orange;
    display: flex;
}
#mid_left{   
    width: 200px;
    height: 500px;
    background-color: blue;
}
#mid_right{   
    width: 400px;
    height: 500px;
    background-color: purple;
}
#bot{   
    width: 600px;
    height: 100px;
    background-color: yellow;
}
#popup{
    width:200px;
    height:200px;
    background-color: aqua;
    position: absolute;
    top:150px;
    left:300px;
}
    