<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peisia.mapper.TestMapper">
	<select id="getData1" resultType="com.peisia.spring.dto.TestDto">
		SELECT no,str_data from tbl_test where no = 1
	</select>
	<select id="getData2" resultType="com.peisia.spring.dto.TestDto">
		SELECT * from tbl_test where no = 2
	</select>
	<select id="getData3" resultType="com.peisia.spring.dto.TestDto">
		SELECT * from tbl_test where no = 3
	</select>
	<select id="getData4" resultType="com.peisia.spring.dto.TestDto">
		SELECT * from tbl_test where no = 4
	</select>
	
	<!-- 문제 1 -->
	<update id="updateVisitantCount">	
		update tbl_visitant_count set count = 200
	</update>
		
	<!-- 문제 2 -->
	<insert id="insertDoodle">	
		insert into tbl_doodle values ("aaaaaaaa")	<!-- ; 찍으면 안됨 -->
	</insert>
	
	<!-- 문제 3 -->
	<delete id="delTest">	
		delete from tbl_test_del where no = 1
	</delete>		
		
</mapper>
