div{
    width:800px;
    height:100px;

    background-image: url('../co3/cat.jpg') ;
    background-repeat: no-repeat;
   
    /* background-position: left; */
    /* background-position: right; */
    /* background-position: top; */
    /* background-position: bottom; */
    /* background-position: center; */
    

    /* background-size: auto; */
    /* background-size: cover; */
    /* background-size: contain; */
    
    background-size: 200px 100px;


}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sticky-header {
    position: -webkit-sticky;
    position: fixed;
    top: 0; 
    background-color: #333;
    color: white;
    
    padding: 1;
    text-align: center;
    z-index: 1;
}

.content {
    padding: 100px;
}