
#box{
    display: flex;
 
    

}
#left_main{
    background-color: red;
    width: 500px;
    height: 600px;
    /* float:left; */
}
#right_ban{
    background-color: rgb(237, 147, 147);   
    width: 100px;
    height: 150px;
}    
#right_banners{
    background-color: orange;   
    width: 100px;
    height: 150px;
    float: right;
}
#right_banner1{
    background-color: rgb(237, 147, 147);   
    width: 100px;
    height: 150px;
    float:right;
   
}
#right_banner2{
    background-color: rgb(46, 248, 234);   
    width: 100px;
    height: 300px;
    float:right;
   
}
#top{
    background-color: yellow;
    width: 500px;
    height: 100px;
    float:top;
}

#mid{
background-color: green;
width: 500px;
height: 25px;
/* float:left; */
}

#bot{
    background-color: blue;
    width: 500px;
    height: 250px;
    /* float:left; */
}
#logo{
    background-image: url('../co3/cat.jpg') ;
    background-repeat: no-repeat;
    background-size:150px 100px;
    width: 150px;
    height: 100px;
    float: left;
}
#main_banner{
    background-color: purple;
    width: 300px;
    height: 100px;
    float: left;
}
#mid_menu_1{
    background-color: gold;  
    height:25px;
    width:100px;
    float: left;
}
#mid_menu_2{
    background-color: aqua;
    height: 25px;
    width: 100px;
    float:left;
}
#mid_menu_3{
    background-color: darkblue;
    height: 25px;
    width: 100px;
    float:left;
}
#mid_menu_4{
    background-color: salmon;
    height: 25px;
    width: 100px;
    float:left;
}
#mid_menu_5{
    background-color: seagreen;
    height: 25px;
    width: 100px;
    float:left;
}

#bot_left_menu{
    background-color: deepskyblue;
    height: 300px;
    width: 250px;
    float:left;
}
 
#bot_content{
    background-color: peru;
    height: 300px;
    width: 250px;
    float:left;
}
#bot_left_bt{
    background-color: rgb(1, 255, 1);
    height: 150px;
    width: 250px;
    float:left;
}
#bot_content_bt{
    background-color: rgb(200, 0, 255);
    height: 150px;
    width: 250px;
    float:left;
}    
.clear1,.clear2,.clear3{
    clear: both;
}
