img {
    width : 300px ;
    display: block;
}
#a{
    width: 400px;
    height:200px;
    background-color: pink;
}
#now{
    width: 400px;
    height:40px;
    background-color: plum;
}

